<div class="container">
     <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron text-center main-header">
        <h2>Welcome to The F-book API Demo</h2>
        <!-- <p class="lead">
            <img src="assets/images/yeoman.png" alt="I'm Yeoman">
            <br> Always a pleasure scaffolding your apps.
        </p> -->
        <center>
          <img class="animated infinite fb-img" ng-class="main.classAnimation" src="assets/images/fb.png">
        </center>

        <!-- <p class="animated infinite" ng-class="main.classAnimation">
            <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
        </p> -->
        <p>
            Used Techonlogy 
            <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular','Bootstrap']"></acme-malarkey> 
        </p>
        <!-- <button ng-click="gotoHome()">home state</button> -->
    </div>
    <div style="text-align: center;">
        <button class="login-btn"  ng-click="login()" id="login"><span class="fa fa-facebook"></span>Login</button>
    </div>
    
</div>

  
